<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831366722811-jp1sge5ffplf1euqnk9t1jjbi6t286og.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831366722811-jp1sge5ffplf1euqnk9t1jjbi6t286og</string>
	<key>API_KEY</key>
	<string>AIzaSyB3WTV4nebu57Jd9i16cYXATV7kJK-_jzA</string>
	<key>GCM_SENDER_ID</key>
	<string>831366722811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.particledrawing.qpwindevweb</string>
	<key>PROJECT_ID</key>
	<string>qpwin-f39e7</string>
	<key>STORAGE_BUCKET</key>
	<string>qpwin-f39e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831366722811:ios:6a228fc02c36833dbe6c5e</string>
</dict>
</plist>